<div class="container mt-3">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="calle">Calle</label>
                    <input type="text" class="form-control" id="calle" formControlName="calle" placeholder="Calle"
                        required />
                    <div
                        *ngIf="addressForm.get('calle')?.invalid && (addressForm.get('calle')?.dirty || addressForm.get('calle')?.touched)">
                        <small class="text-danger" *ngIf="addressForm.get('calle')?.errors?.['required']">Calle es
                            requerida.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="noExt" class="mt-2">Número Exterior</label>
                    <input type="number" class="form-control" id="noExt" formControlName="noExt"
                        placeholder="Número Exterior"  />
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="noInt" class="mt-2">Número Interior</label>
                    <input type="number" class="form-control" id="noInt" formControlName="noInt"
                        placeholder="Número Interior" required />
                  
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="estado" class="mt-2">Estado</label>
                    <select type="text" class="form-control" id="estado" formControlName="estado" placeholder="Estado" (change)="getCiuades()" required >
                        required >
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                    
                    </select>

                    



                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ciudad" class="mt-2">Ciudad</label>
                    <select type="text" class="form-control" id="ciudad" formControlName="ciudad" placeholder="Ciudad"
                        required (change)="getCp()">
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</option>
                    </select>

                    <div
                        *ngIf="addressForm.get('ciudad')?.invalid && (addressForm.get('ciudad')?.dirty || addressForm.get('ciudad')?.touched)">
                        <small class="text-danger" *ngIf="addressForm.get('ciudad')?.errors?.['required']">Ciudad es
                            requerida.</small>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="cp" class="mt-2">Código Postal</label>
                <select type="text" class="form-control" id="cp" formControlName="cp" placeholder="Código Postal"
                    required (change)="getColonias()">
                    <option *ngFor="let cp of cps" [value]="cp">{{cp}}</option>
                    </select>

                <div
                    *ngIf="addressForm.get('cp')?.invalid && (addressForm.get('cp')?.dirty || addressForm.get('cp')?.touched)">
                    <small class="text-danger" *ngIf="addressForm.get('cp')?.errors?.['required']">Código Postal es
                        requerido.</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="colonia" class="mt-2">Colonia</label>
                <select type="text" class="form-control" id="colonia" formControlName="colonia" placeholder="Colonia"
                    required >
                    <option *ngFor="let colonia of colonias" [value]="colonia.idDomicilio">{{colonia.colonia}}</option>
                    </select>

                <div
                    *ngIf="addressForm.get('colonia')?.invalid && (addressForm.get('colonia')?.dirty || addressForm.get('colonia')?.touched)">
                    <small class="text-danger" *ngIf="addressForm.get('colonia')?.errors?.['required']">Colonia es
                        requerida.</small>
                </div>
            </div>
        </div>
       

        <div class="col-md-12">
            <div *ngIf="!edit">
                <button class="btn btn-block mt-4 mb-2" type="submit">Guardar</button>
            </div>
            <div *ngIf="edit">
                <button class="btn btn-primary btn-block mt-4 mb-2" type="button" (click)="onUpdate()">Actualizar</button>
            </div>
            <small class="form-text text-muted">Al dar clic, usted está aceptando nuestros términos y condiciones de privacidad.</small>
        </div>
</div>
</form>
</div>