<div class="container mt-3 mb-5">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtnombre">Nombre</label>
                    <input type="text" class="form-control" id="txtnombre" formControlName="nombre" required  value="{{nombre}}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtAPaterno" class="mt-2">Apellido Paterno</label>
                    <input type="text" class="form-control" id="txtAPaterno" formControlName="apellidoPaterno" required  value="{{apellidoPaterno}}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtAMaterno" class="mt-2">Apellido Materno</label>
                    <input type="text" class="form-control" id="txtAMaterno" formControlName="apellidoMaterno" required value="{{apellidoMaterno}}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtTelefono" class="mt-2">Teléfono</label>
                    <input type="text" class="form-control" id="txtTelefono" formControlName="telefono" required value="{{telefono}}"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtCorreo" class="mt-2">Correo electrónico</label>
                    <input type="email" class="form-control" id="txtCorreo" formControlName="email" required value="{{email}}"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtPassword" class="mt-2">Contraseña</label>
                    <input type="password" class="form-control" id="txtPassword" formControlName="password" required value="{{password}}"/>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn mt-4" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>
