<div class="border border-black-50 container mt-5" style="background-color: wheat;">
<h2 class="text-center text-uppercase">Mi carrito</h2>
    <p class="text-center text-uppercase" *ngIf="cartItems.length === 0">Aún no haz agregado nada al carrito</p>
    <div *ngFor="let item of cartItems">
        <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{ item.nombre }}</h3>
              <h4 class="card-subtitle mb-2 text-muted">{{ item.precioVenta | currency }}</h4>
              <p class="card-text">Haz agregado {{ item.cantidad }} pieza(s)</p>
              <div class="row">
                <button (click)="removeOneCart(item);" class="btn btn-outline-primary col-6"><i class="fa fa-minus"></i></button>
                <!-- <button (click)="removeProduct(item);" class="btn btn-outline-primary col-6"><i class="fa fa-trash"></i></button> -->
              </div>
            </div>
          </div>
      </div>
      <p *ngIf="cartItems.length > 0">Total: {{ getTotal() | currency }}</p>
</div>

