<div class="body">
    <div class="container p-4 mt-5 shadow rounded">
        <h2 id="title" class="text-center mt-1">Creación de cuenta</h2>
        <br>
        <form
              [formGroup]="signUpForm"
              (ngSubmit)="signUpForm.valid && onSubmit()"
            >
        <div class="row mt-3">
            <!-- Nombre input -->
            <div class="form-group col-12 col-md-1"></div>
            <div class="form-group col-12 col-md-4">
                <label class="form-label" for="txtName">Nombre</label>
                <input id="txtnombre"
                type="text"
                class="form-control form-control-lg"
                formControlName="nombre"/>
                <div
                  *ngIf="signUpForm.get('nombre')?.errors?.['required']"
                  class="text-danger"
                >
                  Nombre es requerido.
                </div>
                <div
                  *ngIf="signUpForm.get('nombre')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 3 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('nombre')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 100 su longitud.
                </div>
            </div>

            <!-- Apellido Paterno input -->
            <div class="form-group col-12 col-md-3">
                <label class="form-label" for="txtAPaterno">Apellido Paterno</label>
                <input id="txtAPaterno" type="text" class="form-control form-control-lg" formControlName="apellidoP" />
                <div
                  *ngIf="signUpForm.get('apellidoP')?.errors?.['required']"
                  class="text-danger"
                >
                Apellido Paterno es requerido.
                </div>
                <div
                  *ngIf="signUpForm.get('apellidoP')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 3 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('apellidoP')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 50 su longitud.
                </div>
            </div>

            <!-- Apellido Materno input -->
            <div class="form-group col-12 col-md-3">
                <label class="form-label" for="txtAMaterno">Apellido Materno</label>
                <input id="txtAMaterno" type="text" class="form-control form-control-lg" formControlName="apellidoM" />
                <div
                  *ngIf="signUpForm.get('apellidoM')?.errors?.['required']"
                  class="text-danger"
                >
                Apellido Materno es requerido.
                </div>
                <div
                  *ngIf="signUpForm.get('apellidoM')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 3 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('apellidoM')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 50 su longitud.
                </div>
            </div>
            <div class="form-group col-12 col-md-1"></div>

            <!-- Telefono input -->
            <div class="form-group col-12 col-md-1"></div>

            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtTelefono">Teléfono</label>
                <div class="input-group">
                    <input id="txtTelefono" type="text" class="form-control form-control-lg" formControlName="telefono" />
                    <div class="input-group-append">
                        <span class="input-group-btn">
                            <a id="btnPhone" class="btn">
                                <span class="fa fa-question-circle"></span>
                            </a>
                        </span>
                        <div class="tooltip">
                            El registro de un número télefonico es con el próposito de medio de contacto en un envío de compra.
                        </div>
                    </div>
                </div>
                <div
                  *ngIf="signUpForm.get('telefono')?.errors?.['required']"
                  class="text-danger"
                >
                Telefono es requerido.
                </div>
                <div
                  *ngIf="signUpForm.get('telefono')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 10 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('telefono')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 20 su longitud.
                </div>
            </div>


            <!-- Número input
            <div class="form-group col-12 col-md-2 mt-4">
                <label class="form-label" for="txtNumero">Número</label>
                <input id="txtNumero" type="text" class="form-control form-control-lg" name="" />
            </div>

            // Calle input
            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtCalle">Calle</label>
                <div class="input-group">
                    <input id="txtCalle" type="text" class="form-control form-control-lg" name="" />
                    <div class="input-group-append">
                        <span class="input-group-btn">
                            <a id="btnAddress" class="btn">
                                <span class="fa fa-question-circle"></span>
                            </a>
                        </span>
                        <div class="tooltip">
                            El registro de un domicilio es con el próposito de determinar la dirección de envío de una compra.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-12 col-md-1"></div>

            // Colonia input
            <div class="form-group col-12 col-md-1"></div>
            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtColonia">Colonia</label>
                <input id="txtColonia" type="text" class="form-control form-control-lg" name="" />
            </div>

            // CodePostal input
            <div class="form-group col-12 col-md-2 mt-4">
                <label class="form-label" for="txtCP">Código Postal</label>
                <input id="txtCp" type="number" class="form-control form-control-lg" name="" />
            </div>

            // Ciudad input
            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtCiudad">Ciudad</label>
                <input id="txtCiudad" type="text" class="form-control form-control-lg" name="inpVille" />
            </div>
            <div class="form-group col-12 col-md-1"></div> -->

            <!-- Email input -->
            <div class="form-group col-12 col-md-6 mt-4">
                <label for="txtEmail" class="form-label">E-mail</label>
                <input id="txtEmail" type="text" class="form-control form-control-lg" formControlName="email">
                <div
                  *ngIf="signUpForm.get('email')?.errors?.['required']"
                  class="text-danger"
                >
                  Correo es requerido.
                </div>
                <div
                  *ngIf="signUpForm.get('email')?.errors?.['email']"
                  class="text-danger"
                >
                  Ingresa un correo válido.
                </div>
                <div
                  *ngIf="signUpForm.get('email')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 3 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('email')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 50 su longitud.
                </div>
            </div>
            <div class="form-group col-12 col-md-2 mt-4"></div>
            <!-- Password input -->
            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtPassword">Contraseña</label>
                <div class="input-group">
                <input #asPassword id="txtPassword" type="password" class="form-control form-control-lg" formControlName="password" />
                <div class="input-group-append">
                    <button type="button" id="btnPassword" class="btn btn-toggle-password" (click)="changeIcon()">
                        <i #asIcon class="fa fa-eye"></i>
                    </button>
                </div>
                </div>
                <div
                  *ngIf="
                    signUpForm.get('password')?.invalid &&
                    (signUpForm.get('password')?.dirty ||
                    signUpForm.get('password')?.touched)
                  "
                  class="text-danger"
                >
                  Contraseña es requerida.
                </div>
                <div
                  *ngIf="signUpForm.get('password')?.errors?.['minLength']"
                  class="text-danger"
                >
                  Debe ser mayor a 3 su longitud.
                </div>
                <div
                  *ngIf="signUpForm.get('password')?.errors?.['maxLength']"
                  class="text-danger"
                >
                  Debe ser menor a 50 su longitud.
                </div>
            </div>
            <!-- Password confirm input -->
            <div class="form-group col-12 col-md-4 mt-4">
                <label class="form-label" for="txtPassword2">Repita su contraseña</label>
                <input id="txtPassword2" type="password" class="form-control form-control-lg" formControlName="password2"/>
            </div>
            <div class="form-group col-12 col-md-1"></div>
            <!-- Submit buttons -->
            <div class="form-group col-12 col-md-3"></div>
            <div class="form-group col-12 col-md-3 mt-4">
                <button id="btnCreate" type="submit" class="btn btn-lg form-control text-center"  [disabled]="signUpForm.invalid">CREAR CUENTA</button>
            </div>
            <div class="form-group col-12 col-md-3">
                <a routerLink="/auth" routerLinkActive="router-link-active" class="text-center text-white">
                    <button id="btnBack" class="btn btn-lg form-control mt-4">REGRESAR</button>
                </a>
            </div>
            <div class="form-group col-12 col-md-3"></div>
        </div>
      </form>
    </div>

</div>

