<div class="body">
    <div class="shadow rounded">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <!-- Form Conctac -->
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <h3 class="text-center"></h3>
                        <div id="contact" class="card">
                            <div class="card-body">
                                <form action="">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <div class="input-group">
                                        <input id="txtEmail" type="text" class="form-control" placeholder="Ingrese su correo" />
                                        <div class="input-group-append">
                                            <span class="input-group-btn">
                                                <a id="btnMessage" class="btn">
                                                    <span id="icon" class="fa fa-envelope"></span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Message input -->
                                <div class="form-outline mb-4">
                                    <textarea id="txtMessage" class="form-control" placeholder="Escriba su mensaje..." cols="30" rows="10"></textarea>
                                </div>
    
                                <!-- Submit button -->
                                <button id="btnSend" type="button" class="btn btn-lg form-control"><b>ENVIAR</b></button>
                            </form>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <div class="card" id="card-contact">
                            <div class="pricing-block-content">
                              <p class="pricing-plan">Información de contacto</p>
                                <div data-currency-simple="USD" data-currency="$ USD" class="price-value">
                                    <p class="price-number">Mueblería Valadez<img src="assets/img/isotipo.jpg" id="img-contact"> </p>
                                </div>
                                <div class="pricing-note">Nos importa conocer tu opinión.</div>
                                <ul role="list" class="check-list">
                                  <li class="check-list-item"><i class="fa fa-phone" id="icono"></i> +52 477-805-38-81</li>
                                  <hr><li class="check-list-item"><i class="fa fa-envelope" id="icono"></i> contact@mueblesvaladez.com</li>
                                  <hr><li class="check-list-item"><i class="fas fa-clock" id="icono"></i> Lunes-Viernes: 9:00 AM - 19:30 PM</li>
                                  <hr><li class="check-list-item"><i class="fas fa-location" id="icono"></i> Blvd. J. J. Torres Landa Ote. 6502, Jardines de Jerez, 37530 León, Gto.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>