<div class="body">
  <div class="container mt-5 mb-5">
    <div class="row mt-3">
      <div class="form-group col-12 col-md-6">
        <div class="portada">
          <br>
          <img src="assets/img/silla.jpg" class="img-fluid" />
        </div>
      </div>
      <!-- Historia -->
      <div class="form-group col-12 col-md-6">
        <div class="book">
          <br /><br />
          <p class="title">Nuestra historia</p>
          <hr />
          <br />
          <p class="body">
            La historia de Mueblería Valadez se remonta a hace más de cuatro
            décadas en la ciudad de León, Guanajuato. Fundada por la familia
            Valadez, quienes siempre tuvieron una pasión por el diseño y la
            carpintería.
          </p>
          <br /><br />
          <p class="body">
            La mueblería comenzó como un pequeño taller artesanal que fabricaba
            muebles a medida para amigos y familiares. En la década de 1970, Don
            Manuel Valadez, decidió convertir su pasatiempo en un negocio
            modesto ubicado en el centro histórico de León.
          </p>
          <br /><br />
          <p class="body">
            En la década de 1980, la segunda generación de la familia Valadez se
            unió al negocio, liderada por sus hijos Juan y Maria. En el nuevo
            milenio, la tercera generación de la familia Valadez, encabezada por
            los nietos de Don Manuel, Alejandro y Laura, se hicieron cargo del
            negocio.
          </p>
          <hr />
        </div>
      </div>
      <!-- Historia 2-->
      <div class="form-group col-12 col-md-6 mt-5">
        <div class="book">
          <br />
          <p class="title">...</p><hr>
          <p class="body">
            Hoy en día, Mueblería Valadez cuenta con una amplia y moderna
            exhibición de productos en León, donde los clientes pueden
            encontrar una amplia selección de muebles de alta calidad para todos
            los espacios del hogar: desde dormitorios, salas de estar y
            comedores hasta áreas exteriores. La mueblería sigue siendo un
            negocio familiar, y la pasión por el diseño y la artesanía de
            calidad perdura en cada pieza.
          </p>
          <br /><br />
          <p class="body">
            Con el objetivo de adaptarse a las nuevas tendencias y mantener su
            posición como líder en la industria del mobiliario en Guanajuato,
            Valadez Muebles ha expandido sus operaciones en línea, brindando a
            los clientes la posibilidad de adquirir sus creaciones en todo
            México y más allá.
          </p>
          <br /><br />
          <p class="body">
            Esta es la historia de Mueblería Valadez, un negocio que ha pasado
            de generación en generación, llevando consigo la tradición
            artesanal, el compromiso con la calidad y la pasión.
          </p>
        </div>
      </div>

      <div class="form-group col-12 col-md-6 mt-5">
        <div class="portada">
          <br>
          <img src="assets/img/madera.jpg" class="img-fluid" />
        </div>
      </div>
      
      <div class="form-group col-12 col-md-6 mt-5">
        <div class="book">
          <br>
          <p class="title">Misión</p><hr>
          <p class="body">
            Crear espacios únicos y
            memorables para nuestros clientes a través de muebles de alta
            calidad, diseños innovadores y un servicio excepcional. <br><br>
            Nos esforzamos por satisfacer las necesidades de nuestros clientes 
            brindando un servicio personalizado, con una amplia variedad de productos 
            de alta calidad y a precios competitivos.
          </p>
        </div>
      </div>

      <div class="form-group col-12 col-md-6 mt-5">
        <div class="book"><br>
          <!-- Visión -->
          <p class="title">Visión</p><hr>
          <p class="body">
            Ser la principal opción en la ciudad de León, Guanajuato, para
            aquellos que buscan muebles de calidad, innovadores y con un
            servicio al cliente excepcional. Nos esforzamos por expandir nuestro
            mercado y ser reconocidos como líderes en la industria del
            mobiliario, tanto a nivel local como regional.
          </p>
        </div>
      </div>


      <div class="form-group col-12 col-md-12 mt-5">
        <div id="values" class="book">
          <br />
          <!--Valores -->
          <p class="title">Valores</p><hr>
        </div>
      </div>
      <div class="form-group col-12 col-md-6 mt-1 mb-5">
        <div class="book_v2"><br>
          <p class="text-center"><b>Calidad</b></p>
          <hr>
          <p class="body mt-3">
              Nos comprometemos a ofrecer muebles de alta
              calidad que cumplan con los estándares más exigentes y superen las
              expectativas de nuestros clientes. Buscamos la excelencia en todos
              nuestros productos y servicios.
          </p>
        </div>
      </div>
      <div class="form-group col-12 col-md-6 mt-1 mb-5">
        <div class="book_v2"><br>
          <p class="text-center"><b>Innovación</b></p>
          <hr>
          <p class="body mt-3">
            Fomentamos la creatividad y la búsqueda
            constante de nuevas soluciones y diseños en nuestros muebles. Nos
            esforzamos por ofrecer productos únicos y vanguardistas que se
            destaquen en el mercado.
          </p>
        </div>
      </div>
      <div class="form-group col-12 col-md-6 mt-1 mb-5">
        <div class="book_v2"><br>
          <p class="text-center"><b>Responsabilidad</b></p>
          <hr>
          <p class="body mt-3">
            Nos preocupamos por el impacto que tenemos
            en el medio ambiente. Nos comprometemos a
            utilizar materiales sostenibles y prácticas de fabricación
            responsables.
          </p>
        </div>
      </div>
      <div class="form-group col-12 col-md-6 mt-1 mb-5">
        <div class="book_v2"><br>
          <p class="text-center"><b>Integridad</b></p>
          <hr>
          <p class="body mt-3">
            Nos regimos por altos estándares éticos y
            actuamos con honestidad, transparencia y responsabilidad en todas
            nuestras interacciones.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
