<div class="container mt-5 mb-5">
  <div class="row mt-3">
    <div class="form-group col-12 col-md-6">
      <div class="book">
        <br />
        <p class="title">Misión</p>
        <p class="body">
          En Mueblería Valadez, nuestra misión es crear espacios únicos y
          memorables para nuestros clientes a través de muebles de alta calidad,
          diseños innovadores y un servicio excepcional. Nos esforzamos por
          satisfacer las necesidades de nuestros clientes y superar sus
          expectativas, brindando un servicio personalizado, ofreciendo una
          amplia variedad de productos de alta calidad, con diseños innovadores
          y a precios competitivos.
        </p>
        <!-- Visión -->
        <p class="title">Visión</p>
        <p class="body">
          Ser la principal opción en la ciudad de León, Guanajuato, para
          aquellos que buscan muebles de calidad, innovadores y con un servicio
          al cliente excepcional. Nos esforzamos por expandir nuestro mercado y
          ser reconocidos como líderes en la industria del mobiliario, tanto a
          nivel local como regional.
        </p>
        <div class="cover">
          <div class="book-content">
            <img class="img-book" src="assets/img/valores.png" />
            <p class="title-book">Metas</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Historia -->
    <div class="form-group col-12 col-md-6">
      <div class="book">
        <br />
        <p class="title">Nuestra historia</p>
        <p class="body">
          La historia de Valadez Muebles se remonta a hace más de cuatro décadas
          en la ciudad de León, Guanajuato. Fundada por la familia Valadez,
          quienes siempre tuvieron una pasión por el diseño y la carpintería, la
          mueblería comenzó como un pequeño taller artesanal que fabricaba
          muebles a medida para amigos y familiares. En la década de 1970, Don
          Manuel Valadez, decidió convertir su pasatiempo en un negocio modesto
          ubicado en el centro histórico de León.
        </p>
        <p class="body">
          En la década de 1980, la segunda generación de la familia Valadez se
          unió al negocio, liderada por sus hijos Juan y Maria. En el nuevo
          milenio, la tercera generación de la familia Valadez, encabezada por
          los nietos de Don Manuel, Alejandro y Laura, se hicieron cargo del
          negocio.
        </p>
      </div>
    </div>
    <!-- Historia 2-->
    <div class="form-group col-12 col-md-6 mt-5">
      <div class="book">
        <br />
        <p class="title">...</p>
        <p class="body">
          Hoy en día, Valadez Muebles se encuentra en una amplia y moderna sala
          de exhibición en el corazón de León, donde los clientes pueden
          encontrar una amplia selección de muebles de alta calidad para todos
          los espacios del hogar: desde dormitorios, salas de estar y comedores
          hasta áreas exteriores. La mueblería sigue siendo un negocio familiar,
          y la pasión por el diseño y la artesanía de calidad perdura en cada
          pieza que se crea.
        </p>
        <p class="body">
          Con el objetivo de adaptarse a las nuevas tendencias y mantener su
          posición como líder en la industria del mobiliario en Guanajuato,
          Valadez Muebles ha expandido sus operaciones en línea, brindando a los
          clientes la posibilidad de adquirir sus creaciones en todo México y
          más allá.
        </p>
        <p class="body">
          Esta es la historia de Mueblería Valadez, un negocio que ha pasado de
          generación en generación, llevando consigo la tradición artesanal, el
          compromiso con la calidad y la pasión por el diseño en cada mueble que
          sale de su taller.
        </p>
      </div>
    </div>

    <div class="form-group col-12 col-md-6 mt-5">
      <div class="book">
        <br />
        <!--Valores -->
        <p class="title">Valores</p>
        <p class="body">
          <li class="list">
            <b>Calidad: </b>Nos comprometemos a ofrecer muebles de alta calidad
            que cumplan con los estándares más exigentes y superen las
            expectativas de nuestros clientes. Buscamos la excelencia en todos
            nuestros productos y servicios.
          </li>
          <li class="list">
            <b>Innovación: </b>Fomentamos la creatividad y la búsqueda constante
            de nuevas soluciones y diseños en nuestros muebles. Nos esforzamos
            por ofrecer productos únicos y vanguardistas que se destaquen en el
            mercado.
          </li>
          <li class="list">
            <b>Compromiso: </b>Ponemos al cliente en el centro de nuestro
            negocio. Nos esforzamos por comprender sus necesidades y brindar un
            servicio excepcional, desde la selección del producto hasta la
            entrega y el servicio postventa.
          </li>
          <li class="list">
            <b>Responsabilidad: </b>Nos preocupamos por el impacto que tenemos
            en el medio ambiente y en la comunidad. Nos comprometemos a utilizar
            materiales sostenibles y prácticas de fabricación responsables.
            Contribuimos a la comunidad a través de programas y acciones
            sociales.
          </li>
          <li class="list">
            <b>Integridad: </b>Nos regimos por altos estándares éticos y
            actuamos con honestidad, transparencia y responsabilidad en todas
            nuestras interacciones.
          </li>
        </p>
        <div class="cover">
          <div class="book-content">
            <img class="img-book" src="assets/img/metas.png" />
            <p class="title-book">Valores</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
