<div class="container mt-5 mb-5">
  <div class="row mt-3">
    <div class="form-group col-12 col-md-4">
      <!-- Código del formulario de insert de insumos -->
      <div class="card shadow rounded">
        <div id="title" class="card-header text-center">Insumos</div>
        <div class="card-body">
          <label for="nombreInsumo" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombreInsumo" />
          <label for="idProveedor" class="form-label mt-2">Proveedor</label>
          <input type="text" class="form-control" id="example2" />
          <label for="unidad" class="form-label mt-2">Seleccione la unidad</label>
          <select class="form-control" id="unidad">
            <option value="Piezas">Piezas</option>
            <option value="Metros">Metros</option>
            <option value="Litros">Litros</option>
          </select>
          <label for="precio" class="form-label mt-2">Precio</label>
          <input type="number" class="form-control" id="precio" />
          <label for="observaciones" class="form-label mt-2">Observaciones</label>
          <textarea class="form-control" id="observaciones" rows="3"></textarea>
          <label for="cantidadAceptable" class="form-label mt-2">Cantidad Aceptable</label>
          <input type="number" class="form-control" id="cantidadAceptable" />
          <button class="btn btn-success mt-2 form-control">
            <i class="fas fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-12 col-md-8">
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Nombre</th>
            <th>ID Proveedor</th>
            <th>ID Inventario</th>
            <th>Unidad</th>
            <th>Precio</th>
            <th>Observaciones</th>
            <th>Cantidad Aceptable</th>
            <th>Estatus</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <!-- Utilizamos *ngFor para iterar sobre los insumos y mostrar sus datos -->
          <tr *ngFor="let insumo of insumos">
            <td>{{ insumo.idInsumo }}</td>
            <td>{{ insumo.nombreInsumo }}</td>
            <td>{{ insumo.idProveedor }}</td>
            <td>{{ insumo.idInventario }}</td>
            <td>{{ insumo.unidad }}</td>
            <td>{{ insumo.precio }}</td>
            <td>{{ insumo.observaciones }}</td>
            <td>{{ insumo.cantidadAceptable }}</td>
            <td>{{ insumo.estatus }}</td>
            <td class="text-center">
              <button id="btnUpdate" class="btn" >
                <i class="fas fa-eye"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteInsumo(insumo.idInsumo)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
