<div class="body">
    <div class="content container" style="padding: 60px;"><br><br>
    <div class="row hidden-xs push-15-t">
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="bg-primary">
            <a style="text-decoration:none" href="" class="block block-link-hover2">
                <div class="panel-heading bg-primary">
                    <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                        <div class="col-3">
                            <i class="fa-solid fa-business-time fa-5x text-white"></i>
                        </div>
                        <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                            <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                            <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Ventas</h5></div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-primary" style="background: #ffffff; border: 2px solid;">
                    <span class="pull-left">Ver a Detalle </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="" style="background: #6EC54F;">
            <a style="text-decoration:none" href="" class="block block-link-hover2">
                <div class="panel-heading " style="background: #6EC54F;">
                <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                    <div class="col-3">
                        <i class="fa-solid fa-cart-shopping fa-5x text-white"></i>
                    </div>
                    <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                        <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                        <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Productos</h5></div>
                    </div>
                </div>
            </div>
                <div class="panel-footer" style="background: #ffffff; border: 2px #6EC54F solid;">
                    <span class="pull-left" style="color: #329200">Ver a Detalle </span>
                    <span class="pull-right" style="color: #329200"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="bg-warning">
            <a style="text-decoration:none" href="" class="block block-link-hover2">
                <div class="panel-heading bg-warning">
                <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                    <div class="col-3">
                        <i class="fa-solid fa-boxes-packing fa-5x text-white"></i>
                    </div>
                    <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                        <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                        <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Insumos</h5></div>
                    </div>
                </div>
            </div>
                <div class="panel-footer" style="background: #ffffff; border: 2px #ffcc33 solid;">
                    <span class="pull-left" style="color: #ffcc33;">Ver a Detalle </span>
                    <span class="pull-right" style="color: #ffcc33;"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="" style="background: #E35248;">
            <a style="text-decoration:none" class="block block-link-hover2">
                <div class="panel-heading" style="background: #E35248;">
                <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                    <div class="col-3">
                        <i class="fa-solid fa-boxes-stacked fa-5x text-white"></i>
                    </div>
                    <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                        <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                        <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Inventario</h5></div>
                    </div>
                </div>
            </div>
                <div class="panel-footer" style="background: #ffffff; border: 2px #E35248 solid;">

                    <span class="pull-left" style="color: red;">Ver a Detalle </span>
                    <span class="pull-right" style="color: red;"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    </div>
    </div>
    <br><br>

<h1 class="text-center text-uppercase">Inventario</h1>
    <div class="row" style="background-color: white;">
        <div class="col-1"></div>
        <div class="col-5">
            <app-inventario-productos></app-inventario-productos>
        </div>
        <div class="col-5">
            <app-inventario-insumos></app-inventario-insumos>
        </div>
        <div class="col-1"></div>
    </div>
    <br><br>
    <hr style="border-color: chocolate; border-width: 10px;">
    <h1 class="text-center">Mejores y menores productos en pedidos</h1>
    <div class="row" style="background-color: white;">
        <div class="col-1"></div>
        <div class="col-5">
            <app-mayores-productos></app-mayores-productos>
        </div>
        <div class="col-5">
            <app-menores-productos></app-menores-productos>
        </div>
        <div class="col-1"></div>
    </div>
    <br><br>
    <hr style="border-color: chocolate; border-width: 10px;">
    <h1 class="text-center text-uppercase">Ventas Mensuales</h1>
    <div class="row" style="background-color: white;">
        <div class="col-3"></div>
        <div class="col-9">
            <app-ventas-mensuales></app-ventas-mensuales>
        </div>
    <br><br>
    <hr style="border-color: chocolate; border-width: 10px;">
    <div class="row" style="background-color: white;">
        <div class="col-1"></div>
        <div class="col-9">
            <app-mejores-clientes></app-mejores-clientes>
        </div>
        <div class="col-2">
            <div class="ganancias-container border border-2 border-success">
                <div class="row">
                    <div class="col-6 text-center"><h2>Ganancias Totales</h2></div>
                    <div class="col-6">
                        <br>
                        <h3 class="text-success text-center">{{ datos.gross_profit | currency:'USD':'symbol' }}</h3>
                    </div>
                </div>   
            </div>
            <div class="ganancias-container border border-2 border-success">
                <div class="row">
                    <div class="col-6"><h2 class="text-center">Valor promedio en pedidos</h2></div>
                    <div class="col-6">
                        <br><br>
                        <h3 class="text-success text-center">
                            {{ datos.average_order_value | currency:'USD':'symbol' }}
                        </h3>
                    </div>
                </div>   
            </div>

            <div class="ganancias-container border border-2 border-success">
                <div class="row">
                    <div class="col-6"><h2 class="text-center">Clientes registrados</h2></div>
                    <div class="col-6">
                        <br>
                        <h3 class="text-success text-center">
                            {{ datos.total_users | number:'1.0-0' }}
                        </h3>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <br><br>
</div>