<div class="content container mt-5 mb-5" style="padding: 60px;">
<div class="row hidden-xs push-15-t">
  <div class="col-lg-3 col-md-6 col-xs-6">
    <div class="bg-primary">
        <a style="text-decoration:none" href="" class="block block-link-hover2">
            <div class="panel-heading bg-primary">
                <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                    <div class="col-3">
                        <i class="fa-solid fa-business-time fa-5x text-white"></i>
                    </div>
                    <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                        <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                        <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Ventas</h5></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer text-primary" style="background: #ffffff;">
                <span class="pull-left">Ver a Detalle </span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>


  <div class="col-lg-3 col-md-6 col-xs-6">
      <div class="" style="background: #6EC54F;">
          <a style="text-decoration:none" href="" class="block block-link-hover2">
            <div class="panel-heading " style="background: #6EC54F;">
            <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                <div class="col-3">
                    <i class="fa-solid fa-cart-shopping fa-5x text-white"></i>
                </div>
                <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                    <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                    <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Productos</h5></div>
                </div>
            </div>
        </div>
              <div class="panel-footer" style="background: #ffffff;">
                  <span class="pull-left" style="color: #329200">Ver a Detalle </span>
                  <span class="pull-right" style="color: #329200"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-6">
      <div class="bg-warning">
          <a style="text-decoration:none" href="" class="block block-link-hover2">
            <div class="panel-heading bg-warning">
              <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                  <div class="col-3">
                      <i class="fa-solid fa-boxes-packing fa-5x text-white"></i>
                  </div>
                  <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                      <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                      <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Insumos</h5></div>
                  </div>
              </div>
          </div>
              <div class="panel-footer" style="background: #ffffff;">
                  <span class="pull-left" style="color: #ffcc33;">Ver a Detalle </span>
                  <span class="pull-right" style="color: #ffcc33;"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-6">
      <div class="" style="background: #E35248;">
          <a style="text-decoration:none" class="block block-link-hover2">
            <div class="panel-heading" style="background: #E35248;">
              <div class="row justify-content-end" style="padding: 10px 0 10px 10px;">
                  <div class="col-3">
                      <i class="fa-solid fa-boxes-stacked fa-5x text-white"></i>
                  </div>
                  <div class="col-9 text-white"> <!-- Eliminar col-md-offset-3 y ml-auto -->
                      <div style="text-align: end; margin: 0; padding: 0 10px 0 0;"><p style="margin: 0; padding: 13px 0 10px 0; font-size: 35px;">Ir a</p></div>
                      <div style="text-align: end; margin: 0;  padding: 0 10px 0 0;"><h5>Inventario</h5></div>
                  </div>
              </div>
          </div>
              <div class="panel-footer" style="background: #ffffff;">

                  <span class="pull-left" style="color: red;">Ver a Detalle </span>
                  <span class="pull-right" style="color: red;"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

</div>
</div>
